---
import IconHash from "@/assets/icons/IconHash.svg";

export interface Props {
  tag: string;
  tagName: string;
  size?: "sm" | "lg";
}

const { tag, tagName, size = "sm" } = Astro.props;
---

<li
  class:list={[
    "group inline-block group-hover:cursor-pointer",
    size === "sm" ? "my-1" : "mx-1 my-3",
  ]}
>
  <a
    href={`/tags/${tag}/`}
    transition:name={tag}
    class:list={[
      "relative pr-2 pl-2 py-1 rounded-full bg-muted text-foreground group-hover:bg-border focus-visible:p-1",
      { "text-sm": size === "sm" },
    ]}
  >
    <IconHash
      class:list={[
        "inline-block opacity-80",
        { "-mr-1 size-1": size === "sm" },
        { "-mr-0 size-3": size === "sm" },
      ]}
    />
    <span>{tagName}</span>
  </a>
</li>
